#displayContainer {
  pointer-events: auto;
  display: block;
  position: fixed;
  width: 75vw;
  aspect-ratio: 16 / 9; 
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

#createNpcPortrait {
  z-index: 11;
  position: fixed;
  pointer-events: auto;
  display: block;
  top: 48.7%;
  left: 88%;
  width: 23%;
  height: auto;
}

#displayDialogue {
  text-align: start;
  font-size: 1.3rem;
  padding: 20px;
  position: fixed;
  display: block;
  color: whitesmoke;
  top: 61%;
  left: 53%;
  width: 35%;
  height: fit-content;
  background-color: black;
  z-index: 11;
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px whitesmoke;
}
