*{
  margin: 0;
  padding: 0;
  cursor: grab;
  font-family: "Press Start 2P", sans-serif;
  /* outline: 1px solid red; */
}

html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url("../images/main-menu/labyrinth-entrance.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  image-rendering: pixelated;
}

#introContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 800px;
  color: whitesmoke;
  font-family: "Press Start 2P", sans-serif; 
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8;
  padding: 0px 100px;
  user-select: none;
  z-index: 2;
}

#introContainerTwo {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Press Start 2P", sans-serif; 
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 100px;
  user-select: none;
}

#overlay {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  transition: opacity 2.5s ease;
  pointer-events: none;
}

#sleepOverlay {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  transition: opacity 5.2s;
  pointer-events: none;
}

#sleepingText {
  color: whitesmoke;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 0.1s ease;
}

#backgroundImg {
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 1000px;
  image-rendering: pixelated;
  user-select: none;
  -webkit-user-drag: none;
}

#sceneContainer {
  display: block;
  position: absolute;
  width: 1500px;
  height: 1000px;
  background-color: black;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sceneContainer.hidden {
  display: none;
}

#startMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 2;
}

#mainTitle {
  text-align: center;
  width: max-content;
  font-family: "Press Start 2P", sans-serif;
  font-size: 5rem;
  text-shadow: 0px 0px 25px cyan;
  color: whitesmoke;
  user-select: none;
}

#copyRight {
  width: max-content;
  font-size: 1.3rem;
  color: white;
  user-select: none;
}

.fade-out {
  opacity: 0;
  transition: 2s ease;
}

#mainMenu {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 40px;
  border: none;
  background: transparent;
  z-index: 2;
}

#settingsModal {
  display: none;
}

.hidden {
  display: none;
}

#buttonsContainer {
  pointer-events: auto;
  border: 1px solid whitesmoke;
  width: 1500px;
  height: 1000px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#npcImg {
  transition: filter 0.5s ease;
}

#npcImg:hover {
  filter: drop-shadow(0px 0px 8px whitesmoke);
}

