*{
  margin: 0;
  padding: 0;
  cursor: grab;
  font-family: "Press Start 2P", sans-serif;
  outline: 1px solid red;
  user-select: none;
}

html,body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background-image: url("../images/main-menu/labyrinth-entrance.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  image-rendering: pixelated;
}

.fade-out {
  opacity: 0;
  transition: 2s ease;
}

.hidden {
  display: none;
}