#settingsModal {
  display: none;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.300);
  box-shadow: 0px 0px 8px whitesmoke;
  z-index: 2;
}

.modalBtn {
  font-family: "Press Start 2P", sans-serif; 
  font-size: 2rem;
  color: whitesmoke; 
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 0px 8px whitesmoke;
  background: transparent;
  transition: all 0.2s ease;
  user-select: none;
}

.modalBtn:hover {
  box-shadow: 0px 0px 17px whitesmoke;
}
