#HUDcontainer {
  display: none;
  opacity: 0; 
  width: 80vw;
  aspect-ratio: 16 / 9; 
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in;
  pointer-events: none;
}

#playerMenuBtn {
  pointer-events: auto;
  position: absolute;
  top: 4%;
  left: 7.2%;
  z-index: 3;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 8px whitesmoke;
  color: whitesmoke;
  background: transparent;
  transition: all 0.2s ease;
  user-select: none;
  width: 15%;
  transition: box-shadow 0.3 ease;
}

#playerMenuBtn:hover {
  box-shadow: 0px 0px 15px whitesmoke;
}

#playerMenuPanel {
  pointer-events: auto;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; 
  width: 400px;
  height: 400px;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.616);
  box-shadow: 0px 0px 8px whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.playerMenuPanelBtn {
  transform: translate(-50% -50%);
  font-family: "Press Start 2P", sans-serif; 
  font-size: 1.5rem;
  color: whitesmoke; 
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 8px whitesmoke;
  background: transparent;
  transition: all 0.2s ease;
  user-select: none;
  z-index: 5;
  transition: box-shadow 0.3 ease;
}

.playerMenuPanelBtn:hover {
  box-shadow: 0px 0px 15px whitesmoke;
}

#playerPortrait {
  z-index: 11;
  position: fixed;
  pointer-events: auto;
  display: block;
  top: 51.7%;
  left: 0%;
  width: 13%;
  height: auto;
  filter: drop-shadow(0px 0px 10px rgb(114, 70, 236));
}

#hudPanel {
  position: relative; 
  pointer-events: auto;
  width: fit-content;
  height: 10%;
  display: flex;
  z-index: 5;
  top: 91.1%;
  left: 10%;
  transform: none;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.600);
}

#hudBars {
  position: fixed;
  width: 200px;
  top: 87%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px  rgb(114, 70, 236);
}

.hudBar {
  width: 140px;
  height: 10px;
  border-radius: 20px ;
}

#health {
  background-color: rgb(255, 51, 51);
  border: 4px solid rgb(133, 13, 13);
}

#magic {
  background-color: rgb(0, 174, 255);
  border: 4px solid rgb(62, 48, 255);
}

#stamina {
  background-color: rgb(78, 255, 78);
  border: 4px solid rgb(0, 116, 29);
}

#playerBag {
  position: absolute;
  width: 8%;
  height: auto;
  top: 86%;
  left: -6%;
  pointer-events: auto;
  transition: filter 0.3s ease;
  z-index: 12;
  filter: drop-shadow(0px 0px 5px rgb(114, 70, 236));
}

#playerBag:hover {
  filter: drop-shadow(0px 0px 5px  whitesmoke);
}

#inventoryPanel {
  position: absolute;
  border-radius: 10px;
  top: 30%;
  left: 25%;
  width: 40%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  padding: 5px;
  z-index: 20;
  pointer-events: auto;
}

#inventoryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
}

.inventorySlot {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
}
