#selectText {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  color: whitesmoke;
  font-size: 2rem;
  user-select: none;
}

#portraits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#portraitsWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.playerImg {
  user-select: none;
  width: 30%;
  height: auto;
  -webkit-user-drag: none;
  transition: filter 0.3s ease-in-out;
}

.playerImg:hover {
  filter: drop-shadow(0px 0px 8px whitesmoke);
}