#dialogueBox {
  position: left;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 20px;
  display: none;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Press Start 2P", sans-serif;
  user-select: none;
  z-index: 10;
}

#portrait {
  width: 270px;
  height: auto;
  image-rendering: pixelated;
  -webkit-user-drag: none;
  filter: drop-shadow(0px 0px 5px whitesmoke);
}

#dialogueText {
  flex: 1;
}