#introContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 40%;
  height: auto;
  color: whitesmoke;
  font-family: "Press Start 2P", sans-serif; 
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8;
  padding: 0px 100px;
  user-select: none;
  z-index: 2;
}

#introContainerTwo {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Press Start 2P", sans-serif; 
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 100px;
  user-select: none;
}

#sceneContainer {
  pointer-events: auto;
  display: block;
  position: fixed;
  width: 60vw;
  height: 70vh;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sceneContainer.hidden {
  display: none;
}

#backgroundImg {
  pointer-events: auto;
  object-fit: contain;
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  user-select: none;
}

#buttonsContainer {
  pointer-events: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sceneBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: transparent;
  border: none;
  background-color: transparent;
  transition: all 0.5s;
}

.sceneBtns:hover {
  color: whitesmoke;
  text-shadow: 10px 10px 10px black;
  -webkit-text-stroke: 1px black;
}