*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url("/images/labrynth-background-image.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}



#copyRight {
  font-size: 1.3rem;
  color: white;

}